nav.nav
  div.center-wrapper
    div.nav__logo
      h1 foi<span>nni</span>
    ul.nav__menu
      li.nav__item: a(href='') Home
      li.nav__item: a(href='') Service
      li.nav__item: a(href='') Pricing
      li.nav__item: a(href='') Portfolio
      li.nav__item: a(href='') Contact us