section.services
  .center-wrapper
    h3.title Welcome To <span>Foinn</span>
    p.services__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore <br> magna aliqua. Ut enim ad minim veniam, quis nostrud 
    ul.services__services-box
      li.services__services-item
        i
        h4 Development
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 
      li.services__services-item
        i
        h4 Responsive
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 
      li.services__services-item
        i
        h4 Clean Design
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 
      li.services__services-item
        i
        h4 Graphic Design
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 
      li.services__services-item
        i
        h4 Photography
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 
      li.services__services-item
        i
        h4 Photo Editing
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 