
*
  margin 0
  padding 0

body
  background-color #fffcf4
  color #8f8e91
  font-family font-thin
  
.center-wrapper
  margin 0 auto
  max-width 1171px
  
  @media (min-width: tablet)
    padding 0 40px
  
.title
  font-family font-medium
  font-size 30px
  text-align center

a
  color color-link
  text-decoration none
  transition .2s

h4
  color #454546
  font-family font-medium
  font-size 24px
  
li
  list-style none