// Colors
// ______

color-green = #1dde85
color-link = #fffcf4

// Font
// ____

font-light = 'RobotoLight'
font-medium = 'RobotoMedium'
font-regular = 'RobotoRegular'
font-thin = 'RobotoThin'

// Resolution
// __________

tablet = 40em
screen = 64em
screen_large = 90em