<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Document
    link(rel="stylesheet", href="css/main.css")
  body
    
    include blocks/header/header.pug
    include blocks/services/services.pug
    include blocks/teams/teams.pug
    include blocks/works/works.pug
    include blocks/contact us/contact-us.pug
    include blocks/footer/footer.pug