// Common style
// ____________

@import "blocks/common/fonts.styl"
@import "blocks/common/var.styl"
@import "blocks/common/typography.styl"


// Section style
// _____________

@import "blocks/header/header.styl"
@import "blocks/services/services.styl"
@import "blocks/teams/teams.styl"
@import "blocks/works/works.styl"
@import "blocks/contact us/contact-us.styl"
@import "blocks/footer/footer.styl"