header.header
  include ../common/nav/nav.pug
  article.slider-container
    ul.slider
      li.slider__item
        h2 We Love <span>foinni</span> Polapain
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore <br> magna aliqua. Ut enim ad minim veniam, quis n

